<div id='donate'>
    <div class="container pb-5" >
    
    <h1 class="h-1">Our Heros</h1>
    
    
        <div class="row">
    
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
               <div class="card">
                   <div class="card-img">
                       <img src="../../../assets/soldier.jpg">
                   </div>
                <div class="d">
                    <div class="d-1">Jhon vargees</div>
                    <div class="d-2">AirForce</div>
                </div>
                <div class="d">
                    <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
              
                </div> 
    
                <div class="progress-out">
                    <div class="progress-in"></div>
                </div>
            
                <div class="d">
                    <button class="btn-donate" (click)="openDialog()">Donate</button>
                </div>
    
    
               </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
    
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
    
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
     
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
     
             <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card">
                    <div class="card-img">
                        <img src="../../../assets/soldier.jpg">
                    </div>
                 <div class="d">
                     <div class="d-1">Jhon vargees</div>
                     <div class="d-2">AirForce</div>
                 </div>
                 <div class="d">
                     <div class="d-3">  ₹1,88,02,700 raised out of ₹5000000</div>
               
                 </div> 
     
                 <div class="progress-out">
                     <div class="progress-in"></div>
                 </div>
             
                 <div class="d">
                     <button class="btn-donate" (click)="openDialog()">Donate</button>
                 </div>
     
     
                </div>
             </div>
    
        </div>
    
        <button class="btn-more" routerLink="/heros">View All</button>
    </div>
    </div>