<div class="home-img">
    <img src="https://i.ytimg.com/vi/F2LlPD3654E/maxresdefault.jpg" >
</div>

<div class="container">

    <div class="row">

        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
           <div class="card">
               Card 1
           </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="card">
                Card 1
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
            <div class="card">
                Card 1
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
            <div class="card">
                Card 1
            </div>
         </div>
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
             <div class="card">
                 Card 1
             </div>
         </div>
 
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
             <div class="card">
                 Card 1
             </div>
         </div>
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
            <div class="card">
                Card 1
            </div>
         </div>
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
             <div class="card">
                 Card 1
             </div>
         </div>
 
         <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
             <div class="card">
                 Card 1
             </div>
         </div>

    </div>
</div>